@use "sass:map";
@use "../00-settings" as config;
@use "../01-tools/functions" as *;

.o-main-container {
	background:colorSet("misc", "white");
}

.o-container {
	width:100%;
	max-width:config.$container-max-width;
	padding:0 config.$outer-margin-sm;
	margin:0 auto;

	@include custombp(895){
		padding:0 config.$outer-margin-lg;		
	}

	&--fluid-width {
		max-width:unset !important;
	}

	&--full-bleed {
		padding-left:0;
		padding-right:0;
	}

	&--bleed-right {

	}
}


.o-max-width-container {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:0 auto;

	width:100%;
	max-width:config.$container-max-width;
	padding:0 config.$outer-margin-sm;


	&--full-bleed {
		padding-left:0;
		padding-right:0;
	}

	@include custombp(895){
		padding:0 config.$outer-margin-lg;		
	}

}

.o-fluid-width-container {
	width:100%;
	padding:0 config.$outer-margin-sm;


	&--full-bleed {
		padding-left:0;
		padding-right:0;
	}

	@include custombp(895){
		padding:0 config.$outer-margin-lg;		
		
		&--full-bleed {
			padding-left:0;
			padding-right:0;
		}

	}	
}

.o-narrow-padded-container {
	width:100%;
	max-width:config.$copyContainerWidth;
	padding:0 config.$outer-margin-sm;

	@include custombp(895){
		padding:0 config.$outer-margin-lg;		
	}	
}

.o-narrow-container {
	width:100%;
	max-width:config.$copyContainerWidth;
}

.u-img-crisp {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */	
}


.o-overflow-container {
	width:100%;
	overflow:hidden;

	&__inner {		
	min-width:780px;
	overflow-x:auto;
	}
}

