# Dependency directories
node_modules/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db
.*-autosave.kra
*~

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env
.env.local
.env.*.local
sshkeys.*
sshkeys

# Editor settings
.vscode/
.idea/

# OS or temp files
*.swp
*.swo