<section id="about" class="c-about u-bg-color-ash-50 u-padding-y-1000 u-padding-y-1800-@xl">
	<div class="o-container">
		<div class="u-flex flex-wrap flex-nowrap-@md gap-600 gap-900-@lg u-justify-content-center">
			<div class="o-about-me-container">
				<h2 class="u-margin-b-300">Who is that guy Bardia?</h2>
				
				<p class="body-copy body-copy--large u-margin-b-800 u-margin-b-1100-@lg">I graduated from the Ontario College of Art in Design, with a degree in Graphic Design. After finishing my undergrad, I worked as a print designer and front-end developer before moving full-time into UX design.</p>

				<figure class="u-margin-b-800 u-margin-b-1100-@lg">
					<img
					width="380"
					height="380"
					class="o-fluid-img c-portrait"
					srcset="/img/halftone-portrait.png 1x, /img/halftone-portrait@2x.png 2x"
					src="img/halftone-portrait.png"
					alt="Stylized portrait of me (Bardia Doust)" />
			
					<figcaption class="c-portrait-caption">I'm a former graphic designer and front-end developer. I don't really have purple hair though.</figcaption>
				</figure>

				<div class="c-key-facts flex-wrap flex-nowrap-@md u-margin-b-800 u-margin-b-1100-@lg">
					<div class="u-flex flex-dir-col u-justify-content-center u-align-items-center w-100 w-33-@md c-key-facts__item">
							<p class="body-copy">Favourite Author</p>				
							<h3 class="u-font-weight-700 u-color-plum-500">Douglas Adams</h3>
					</div>
					<div class="u-flex flex-dir-col u-justify-content-center u-align-items-center w-100 w-33-@md c-key-facts__item">
							<p class="body-copy">Favourite Designer</p>				
							<h3 class="u-font-weight-700 u-color-plum-500">David Carson</h3>
					</div>
					<div class="u-flex flex-dir-col u-justify-content-center u-align-items-center w-100 w-33-@md c-key-facts__item">
							<p class="body-copy">Favourite album</p>
							<h3 class="u-font-weight-700 u-color-plum-500">Broadcaster</h3>
							<p class="body-copy body-copy--small u-margin-b-100"><i>Triple Fast Action</i></p>
					</div>
				</div>				

				<p class="body-copy body-copy--large u-margin-b-800 u-margin-b-1100-@lg">Along the way, I’ve mentored aspiring designers through BrainStation’s UX bootcamp, which deepened my love for teaching and team-building.</p>


				<figure class="u-margin-b-800 u-margin-b-1100-@lg">
					<img
					width="740"
					height="555"
					class="o-fluid-img u-border-radius-400 u-margin-auto"
					srcset="/img/mybooks.jpg 1x, /img/mybooks@2x.jpg 2x"
					src="/img/mybooks.jpg"
					alt="My humble book collection" />
			
					<figcaption>Favourite books from my humble collection</figcaption>
				</figure>	

				<p class="body-copy body-copy--large u-margin-b-800 u-margin-b-1100-@lg">In 2021 I moved to beautiful Kingston, Ontario, where I split my time between design work, creative projects, and wandering through bookstores promising myself I won't buy anything. Outside of work, I spend time playing guitar, bass, and drums, or out with my camera chasing texture and light. </p>

				<figure class="u-margin-b-800 u-margin-b-1100-@lg">
					<img
					width="740"
					height="555"
					class="u-img-max-width w-100 u-border-radius-400 u-margin-auto band-photo"
					srcset="/img/myband.jpg 1x, /img/myband@2x.jpg 2x"
					src="/img/mybooks.jpg"
					alt="Me performing with one of my bands in 2018" />
			
					<figcaption>2017, Performing with one of the bands I played in at The 460 in Toronto</figcaption>
				</figure>

				<p class="body-copy body-copy--large u-margin-b-600">I love nerding out over typography, retro video games and Douglas Adams books. If you're curious about working together or just want to connect, feel free to reach out. <span class="c-para-end" aria-hidden="true"></span></p>

				<div class="c-button-group flex-wrap flex-wrap u-justify-content-center">
					<button data-micromodal-trigger="contact-modal" class="c-button c-button--primary js-confetti">Get in touch</button>
				</div>	
			</div>
		</div>
	</div>	
</section>
