<section id="hero" class="u-bg-color-ash-100 u-background-gradient u-padding-y-500 u-padding-y-1300-@xl">
	<div class="o-container">
		<div class="u-flex flex-wrap-@xs flex-nowrap-@xl gap-900 gap-0-@lg gap-300-@xl u-align-items-center-@lg">
			<div class="c-intro-wrapper w-100 w-50-@lg w-60-@xl">
				<div class="c-inter-wrapper__inner u-text-align-left-@xs">

					<div class="open-to-work u-inlineblock u-margin-b-600">
						<div class="c-open-to-work">
							<div class="c-circle-pulse u-margin-r-300">
								<div class="c-circle-pulse__main"></div>
								<div class="c-circle-pulse__fill"></div>
								<div class="c-circle-pulse__outline"></div>
							</div>
							<div>								
								<p class="c-open-to-work__label">Available for full-time & contract roles</p>
								<small class="c-open-to-work__roles u-color-ash-600 u-block">Sr. Designer, Design Lead, UX Manager</small>
							</div>
						</div>

					</div>

					<h1 class="display-3">I’m Bardia, a <span class="text-highlight">design leader</span>, with over a decade of experience in <span class="text-highlight">SaaS platforms</span>, <span class="text-highlight">fintech</span> and <span class="text-highlight">non-profit</span> industries.
					</h1>

					<p class="c-intro-wrapper__subheading u-margin-t-300 w-100 w-80-@xxl u-margin-b-800">I specialize in systems thinking, scalable design strategies and building conversion optimized experiences.</p>

					<div class="u-flex gap-300 flex-wrap flex-nowrap-@md">
					<button data-micromodal-trigger="contact-modal" class="c-button c-button--primary w-100 w-unset-@md js-confetti">Get in touch</button>
					<a href="bardia-cv-2025.pdf" class="c-button c-button--secondary w-100 w-unset-@md u-text-align-center js-confetti" download title="download my resume">Get my resume</a>
					</div>
				</div>
			</div>
			<div class="c-portriat-wrapper w-100 w-50-@lg w-40-@xl">
				<img class="o-fluid-img u-margin-auto"
				alt="Stylized illustration of me working at my desk"
				srcset="/img/halftone-desk-portrait.png 1x, /img/halftone-desk-portrait@2x.png 2x"
				src="/img/halftone-desk-portrait.png"/>
			</div>
		</div>		
	</div>
</section>