@use "sass:map";
@use "00-settings" as config;
@use "01-tools/functions" as *;

/* Resets and normalize */
@use "02-generic" as generic;

/* basic page elements */
@use "03-elements" as elements;

/* Layout objects */
@use "04-objects" as objects;

/* Custom components */
@use "05-components" as components;

/* Utilities and helper classes */
@use "06-utilities" as utilities;

/* Page specific styling */
@use "07-pages" as pages;



//To do refactor these

.icon {
	width:1.5rem;
	height:1.5rem;
	transition: transform .4s ease, color .4s ease;

	&.is-rotated {
		transform: rotate(180deg);
	}	

}

.meta-list {
	.body-copy {
		line-height:120%;
	}
}

.download-form {
	width:100%;
	max-width:680px;

	input { width:100%; }
	button { width: 100%; }

	@include breakpoint("lg") {
		input {

				max-width:40ch;
				align-self:center;
				height:48px;
		}
		button {
			width:unset;
			align-self:center;
		}
	}
}

.case-study-illus {
	max-width:240px;
	height:auto;
	mix-blend-mode:darken;
	width:100%;
	margin:0 auto;

	@include breakpoint("lg") {
		max-width:360px;
	}
}

.band-photo {
	max-width:560px;
}
