
<footer class="c-global-footer u-bg-color-ash-100 u-bg-pattern u-padding-y-600-@xs u-padding-y-800-@md u-padding-y-1000-@lg">
	<div class="o-fluid-width-container">
		<div class="c-logo c-logo--footer"><a href="/">thatguybardia</a></div>

		<div class="u-flex u-justify-content-sb flex-wrap flex-nowrap-@lg u-margin-b-400 u-margin-b-0-@lg">
			<div>
				<h3 class="subheading-2 u-margin-b-100-@xs w-100">Colophon</h3>

				<div class="footer-links w-100-@xs u-flex gap-500 gap-800-@lg flex-dir-col-@xs flex-dir-row-@md u-margin-b-500">
					<div class="u-margin-b-0">
						<p class="body body--large u-margin-b-200">Hand-coded with ❤️ using</p>
						<ul class="c-horizontal-list c-horizontal-list--simple">
							<li><a href="https://mozilla.github.io/nunjucks/">Nunjucks</a></li>
							<li><a href="http://sass-lang.com/">Sass</a></li>
							<li><a href="https://vanilla.js.org/">Vanilla JS</a></li>
						</ul>
					</div>

					<div>
						<p class="body body--large u-margin-b-200">Typography</p>
						<ul class="c-horizontal-list c-horizontal-list--simple">
							<li><a href="https://fonts.google.com/specimen/Bricolage+Grotesque">Bricolage Grotesque</a></li>
							<li><a href="https://fonts.google.com/specimen/Inter">Inter</a></li>
						</ul>				
					</div>
				</div>				
			</div>
			<div class="u-flex">
				<ul class="c-social-links">
					<li>
						<a href="https://www.linkedin.com/in/bardiadoust/">
							<svg class="icon" aria-hidden="true"><use href="#linkedin" /></svg>
							<span class="u-sr-only">LinkedIn</span>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/bardiad/">
							<svg class="icon" aria-hidden="true"><use href="#square-instagram" /></svg>
							<span class="u-sr-only">Instagram</span>
						</a>
					</li>
					<li>
						<a href="https://github.com/Bardiad">
							<svg class="icon" aria-hidden="true"><use href="#square-github" /></svg>
							<span class="u-sr-only">Github</span>
						</a>
					</li>
				</ul>
			</div>
		</div>


		<p class="body-copy body-copy--small w-100">www.thatguybardia.ca © <span class="js-year">2025</span></p>
	</div>
</footer>