<header class="c-global-header u-bg-color-ash-200 ">
	<div class="c-logo"><a href="/">thatguybardia</a></div>
{# 
	<div class="o-nav-container">
		<ul class="c-primary-nav u-hide-@xs" role="navigation">
			<li><a href="#">work</a></li>
			<li><a href="#">teaching</a></li>
			<li><a href="#">about</a></li>
		</ul>
 		<div class="c-button-wrapper">
			<button data-micromodal-trigger="contact-modal" class="c-button c-button--primary c-button--emphasis js-confetti">Get in touch</button>
		</div >
	</div>
	#}
</header>