<span data-fa-symbol="chevron-down" class="fa-solid fa-chevron-down fa-fw"></span>
<span data-fa-symbol="chevron-up" class="fa-solid fa-chevron-up fa-fw"></span>
<span data-fa-symbol="chevron-left" class="fa-solid fa-chevron-left fa-fw"></span>
<span data-fa-symbol="chevron-right" class="fa-solid fa-chevron-right fa-fw"></span>