
<footer class="c-global-footer u-bg-color-ash-100 u-bg-pattern u-padding-y-600-@xs u-padding-y-800-@md u-padding-y-1000-@lg">
	<div class="o-fluid-width-container">
		<div class="c-logo c-logo--footer"><a href="/">thatguybardia</a></div>
		<h3 class="subheading-2 u-margin-b-100-@xs w-100">Colophon</h3>

		<div class="footer-links w-100-@xs u-flex gap-500 gap-800-@lg flex-dir-col-@xs flex-dir-row-@md u-margin-b-400">
			<div class="u-margin-b-400-@xs u-margin-b-0-@md">
				<p class="body body--large u-margin-b-200">Hand-coded with ❤️ using</p>
				<ul class="c-horizontal-list c-horizontal-list--simple">
					<li><a href="https://mozilla.github.io/nunjucks/">Nunjucks</a></li>
					<li><a href="http://sass-lang.com/">Sass</a></li>
					<li><a href="https://vanilla.js.org/">Vanilla JS</a></li>
				</ul>
			</div>

			<div>
				<p class="body body--large u-margin-b-200">Typography</p>
				<ul class="c-horizontal-list c-horizontal-list--simple">
					<li><a href="https://fonts.google.com/specimen/Bricolage+Grotesque">Bricolage Grotesque</a></li>
					<li><a href="https://fonts.google.com/specimen/Inter">Inter</a></li>
				</ul>				
			</div>
		</div>
		<p class="body-copy body-copy--small w-100">www.thatguybardia.ca © <span class="js-year">2025</span></p>
	</div>
</footer>