<div class="c-banner c-banner--cta">
	<div class="u-flex flex-wrap flex-nowrap-@xxl gap-500 gap-900-@xxl u-align-items-center">
		<div class="c-banner__img w-100 w-40-@xxl">
			<img
			width="380"
			height="380"
			class="o-fluid-img c-portrait"
			srcset="/img/portrait-02.png 1x, /img/portrait-02-@2x.png 2x"
			src="img/portrait-02.png"
			alt="Stylized portrait of me (Bardia Doust)" />
		</div>
		<div class="c-banner__content w-100 w-60-@xxl u-text-align-left">
			<h2 class="u-margin-b-300">Let's work together!</h2>
			<p class="body-copy body-copy--large u-margin-b-700">I'd love to learn about what you're working on and see how I can help bring value to your projects</p>
			<div class="u-flex flex-wrap flex-nowrap-@md gap-400">
				<button data-gtag-event="launch_contact_form" class="c-button c-button--primary w-100 w-unset-@md"  data-micromodal-trigger="contact-modal">Get in touch</button>
				<a data-gtag-event="download_resume" href="/bardia-cv-2025.pdf" class="c-button c-button--secondary w-100 w-unset-@md u-text-align-center" download title="download my resume">Get my resume</a>										
			</div>
		</div>
	</div>
</div>	