<header class="c-global-header u-bg-color-ash-200 ">
	<div class="c-logo"><a href="/">thatguybardia</a></div>

	<div class="o-nav-container">
{# 		<ul class="c-primary-nav u-hide-@xs" role="navigation">
			<li><a href="#">work</a></li>
			<li><a href="#">teaching</a></li>
			<li><a href="#">about</a></li>
		</ul> #}
		<div class="c-button-wrapper">
			<a id="getResume" href="bardia-doust-2025-resume.pdf" download class="c-button c-button--primary c-button--emphasis">Get my resume</a>
			<div id="confettiContainer" aria-hidden="true"></div>		
		</div>
	</div>
</header>