<div class="o-nav-container">
	<div class="c-primary-nav u-hide-@xs u-show-flex-@lg">
		<ul class="c-primary-nav u-padding-r-700" role="navigation">
			<li><a href="/index.html#projects">work</a></li>
			<li><a href="/about.html">about</a></li>
			<li><a href="/contact.html">contact</a></li>
		</ul>
		
		<button data-gtag-event="launch_contact_form" data-micromodal-trigger="contact-modal" class="c-button c-button--primary js-confetti">Get in touch</button>		
	</div>	
	<details class="c-mobile-nav u-hide-@lg">
		<summary class="c-mobile-nav__toggle" aria-controls="mobile-menu">
			<svg class="icon icon--bars" aria-hidden="true" focusable="false">
				<use href="#bars"></use>
			</svg>

			<span class="u-sr-only">Toggle menu</span>
		</summary>
		<nav id="mobile-menu" class="c-mobile-nav__menu u-bg-color-ash-100 u-background-gradient" role="navigation" aria-label="Main Menu">
			<ul class="c-mobile-nav__list">
			  <li class="c-mobile-nav__item"><a href="/index.html#projects">Projects</a></li>
			  <li class="c-mobile-nav__item"><a href="/about.html">About</a></li>
			  <li class="c-mobile-nav__item"><a href="/contact.html">Contact</a></li>
			</ul>
			<a data-gtag-event="download_resume" href="bardia-cv-2025.pdf" class="c-button c-button--primary w-80 w-unset-@md u-text-align-center js-confetti" download title="download my resume" >Get my resume</a>
			<svg class="icon icon--close"
				 role="button"
    			 tabindex="0"
    			 aria-label="Close menu">
    			 <use href="#xmark"></use>
    		</svg>
		</nav>		
	</details>
</div>