<span data-fa-symbol="chevron-down" class="fa-solid fa-chevron-down fa-fw"></span>
<span data-fa-symbol="chevron-up" class="fa-solid fa-chevron-up fa-fw"></span>
<span data-fa-symbol="chevron-left" class="fa-solid fa-chevron-left fa-fw"></span>
<span data-fa-symbol="chevron-right" class="fa-solid fa-chevron-right fa-fw"></span>
<span data-fa-symbol="linkedin" class="fa-brands fa-linkedin fa-fw"></span>
<span data-fa-symbol="square-github" class="fa-brands fa-square-github fa-fw"></span>
<span data-fa-symbol="square-instagram" class="fa-brands fa-square-instagram fa-fw"></span>