<nav class="o-nav-container">
	<ul class="c-primary-nav u-hide-@xs u-show-@lg" role="navigation">
		<li><a href="/">work</a></li>
		<li><a href="/about.html">about</a></li>
		<li><a href="/contact.html">contact</a></li>
	</ul>
	<div class="c-hamburger u-hide-@lg">
		<svg class="icon">
			<use href="#bars"></use>
		</svg>
	</div>
</nav>