---
PAGE:
 title: Woops, this page doesn't exist | The Guy Bardia
 description: You've requested a page that doesn't exist
 layout: layout.landing.njk
---
{% extends "layouts/" + PAGE.layout %}

{% block body %}

{{ super()}}
<div class="u-flex flex-nowrap gap-600 gap-900-@lg flex-dir-col u-justify-content-center u-align-items-center u-padding-y-900 u-padding-y-1500-@lg u-bg-color-ash-200">
  <div class="o-narrow-container">
    <div class="u-padding-x-800">
      <img
      width="880"
      height="660"
      class="u-margin-b-600 c-404-img"
      srcset="/img/404.png 1x, /img/404@2x.png 2x"
      src="/img/404.png"
      alt="Sorry, this page is missing!" />
    </div>
    <div class="u-text-align-center u-flex-nowrap flex-dir-row u-justify-content-center u-align-items-center ">
        <h1 class="u-margin-b-500">Woops, my bad</h1>
        <p class="body-copy body-copy--large u-margin-b-400 u-padding-x-800">Sorry, looks like the page you were looking for doesn't exist.</p>
        <a class="c-button c-button--primary" href="/">Go back home</a>
    </div>
  </div>
</div>

{% endblock %}
