@use "sass:map";
@use "../00-settings" as config;
@use "../01-tools/functions" as *;

@each $colorset, $set in config.$token-colorsets {
	@each $step, $value in $set {
		.u-bg-color-#{$colorset}-#{$step} {
			background-color:$value;
		}
	}
}

.bg-grainy {
	background-image:url("../img/grainy-wave.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}

.u-bg-pattern {
	background-color: colorSet("ash", 100);
	background-image:url("../img/bg-pattern.png");
	background-repeat:repeat;
	background-blend-mode:hard-light;
	background-attachment: fixed;
}

.u-background-gradient {
	background: linear-gradient(180deg,rgba(224, 221, 227, 1) 0%, rgba(237, 237, 237, 1) 65%, rgba(255, 255, 255, 1) 100%);	
}

.u-background-gradient--lighter {
	background: linear-gradient(180deg,rgba(colorSet("ash", 100), 1) 0%, rgba(colorSet("ash", 50), 1) 65%, rgba(255, 255, 255, 1) 100%);	
}