@use "sass:map";
@use "../00-settings" as config;
@use "../01-tools/functions" as *;


$flexgutter: 32px;
$widths : map.get(config.$token-scales, "percent-width");


@each $key, $value in $widths {
	.w-#{$key} {
		width: #{$value};

	}
}

.flex-dir-col {
	flex-direction: column; 
}

.flex-dir-row {
	flex-direction: row;
}	

.flex-nowrap {
	flex-wrap:nowrap;
}

.flex-wrap {
	flex-wrap:wrap;
}

.flex-order-first {
	order:-1;
}

@for $i from 0 through 10 {
	.flex-order-#{$i} {
		order: #{$i};
	}
}


@each $bpkey, $bpvalue in config.$token-mq {
	@include breakpoint($bpkey) {
		.flex-dir-col-\@#{$bpkey} {
			flex-direction: column;
		}

		.flex-dir-row-\@#{$bpkey} {
			flex-direction: row;
		}	

		.flex-nowrap-\@#{$bpkey} {
			flex-wrap:nowrap;
		}

		.flex-wrap-\@#{$bpkey} {
			flex-wrap:wrap;
		}

		.flex-order-first-\@#{$bpkey} {
			order:-1;
		}

		@for $i from 0 through 10 {
			.flex-order-#{$i}-\@#{$bpkey} {
				order: #{$i};
			}
		}
		
		@each $key, $value in $widths {
			.w-#{$key}-\@#{$bpkey} {
				width: $value;
			}
		}		
	}
}

