@use "sass:map";
@use "sass:math";
@use "../00-settings" as config;
@use "../01-tools/functions" as *;


$gutter: 32px;
$outer-margin: 40px;
$columns: 12;
$spaces : map.get(config.$token-scales, "space");

.grid {
	display:grid;
	grid-template-columns: repeat($columns, 1fr);
	gap:$gutter;
}

.grid-2-rows {
	grid-template-gorws:repeat(2, 1fr);
}

.grid-col-6 { grid-column: span 6 / span 6; }
.grid-col-4 { grid-column: span 4 / span 4; }

.row-1 { grid-row-start: 1; }
.row-2 { grid-row-start: 2; }

.col-start-1 { grid-column-start: 1; }
.col-start-5 { grid-column-start: 5; }
.col-start-7 { grid-column-start: 7; }
.col-start-9 { grid-column-start: 9; }