@use "sass:map";
@use "../00-settings" as config;
@use "../01-tools/functions" as *;

.c-intro-portrait {
	img, figcaption {
		max-width:320px;
		
		@include breakpoint("xl"){
			max-width:472px;
		}
	}
}

.c-portriat-wrapper {
	img {
		max-width:540px;
	}
}


.c-portrait {
	max-width:280px;
	margin:0 auto;
	
	@include breakpoint("lg") {
		max-width:380px;
	}
}

.c-portrait-caption {
	margin:0 auto;
	margin-top:space-px(300);
	text-align:center;

	@include breakpoint("lg") {
	}	
}
