@use "sass:map";
@use "../00-settings" as config;
@use "../01-tools/functions" as *;

.c-marquee {
	--marqueeGap: #{space-px(1500)};
	display: flex;
	overflow: hidden; 
	//background: colorSet("ash", 100);
	padding: space-px(1000) 0;
	gap: var(--marqueeGap);	
  user-select: none;
  border-top:1px solid colorSet("ash", 100);
  border-bottom:1px solid colorSet("ash", 100);
	

	&--faded-ends {
		@include breakpoint("xl") {
			mask-image: linear-gradient(
				to right,
				hsl(0 0% 0% / 0),
				hsl(0 0% 0% / 1) 20%,
				hsl(0 0% 0% / 1) 80%,
				hsl(0 0% 0% / 0)
			);
		}
	}  	


	&__track {
		display: flex;
		flex-shrink: 0; // prevent collapsing
		gap: var(--marqueeGap);
		min-width: 100%;
		align-items: center;
		animation: marquee-scroll linear infinite;
	}

	&__item {
		flex: 0 0 auto;
		//padding:space-px(800);
		//border-radius:radius-px(400);
		//background:colorSet("ash", 50);

		&:hover img {
			filter:none;
			opacity:1;
		}

		img {
			display: block;
			height: 60px; 
			filter:grayscale(1);
			opacity:.85;
			transition:.4s ease all;
		}
	}

  &--slow   .c-marquee__track { animation-duration: 60s; }
  &--medium .c-marquee__track { animation-duration: 20s; }
  &--fast   .c-marquee__track { animation-duration: 10s; }  
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--marqueeGap))); 
  }
}

.c-brands {
	display:flex;
	gap:space-px(500);
	flex-wrap:wrap;
	width:100%;

	&__logo {
		flex:1 0 200px;
		display:flex;
		align-items:center;
		justify-content:center;
		padding:space-px(700) space-px(600);
		border-radius:radius-px(200);
		background-color:colorSet("ash", 50);

		&:hover img {
			filter:grayscale(0);
		}
	}

	img {
		width:100%;
		max-width:160px;
		height:auto;
		filter:grayscale(1);
		transition: filter .4s ease;
	}
}