---
PAGE:
 title: Bardia Doust | UX & UI Designer Specializing in Design Systems, Front-End Development and Growth UX
 description: Portfolio of Bardia Doust, a UX designer and front-end developer specializing in design systems, acquisition-focused experiences, and scalable product design. Based in Ontario, Canada.
 layout: layout.landing.njk
---
{% extends "layouts/" + PAGE.layout %}

{% block body %}
{{ super()}}

{% include "fragments/sections/_homepage-hero.njk" %}

{% include "fragments/sections/_brands.njk" %}

{% include "fragments/sections/_selected-works.njk" %}

{# {% include "fragments/sections/_about-me.njk" %} #}

{{ components.backToTop() }}
{% endblock %}

