---
PAGE:
 title: Bardia Doust | UX & UI Designer Specializing in Design Systems, Front-End Development and Growth UX
 description: Portfolio of Bardia Doust, a UX designer and front-end developer specializing in design systems, acquisition-focused experiences, and scalable product design. Based in Ontario, Canada.
 layout: layout.landing.njk
---
{% extends "layouts/" + PAGE.layout %}

{% block body %}
{{ super()}}
<section id="hero" class="u-bg-color-ash-100 u-background-gradient u-padding-t-600-@xs u-padding-b-800-@xs u-padding-t-900-@xl u-padding-b-1100-@xl">
	<div class="o-container">
		<div class="u-flex flex-wrap-@xs flex-nowrap-@xl gap-900 gap-0-@lg gap-300-@xl u-align-items-center-@lg">
			<div class="c-intro-wrapper w-100 w-50-@lg w-60-@xl">
				<div class="c-inter-wrapper__inner u-text-align-left-@xs">

					<div class="open-to-work u-inlineblock u-margin-b-600">
						<div class="c-open-to-work">
							<div class="c-circle-pulse u-margin-r-300">
								<div class="c-circle-pulse__main"></div>
								<div class="c-circle-pulse__fill"></div>
								<div class="c-circle-pulse__outline"></div>
							</div>
							<div>								
								<p class="c-open-to-work__label">Available for full-time & contract roles</p>
								<small class="c-open-to-work__roles u-color-ash-600 u-block">Sr. Designer, Design Lead, UX Manager</small>
							</div>
						</div>

					</div>

					<h1 class="display-3">I’m Bardia, a <span class="text-highlight">design leader</span>, with over a decade of experience in <span class="text-highlight">SaaS platforms</span>, <span class="text-highlight">fintech</span> and <span class="text-highlight">non-profit</span> industries.
					</h1>

					<p class="c-intro-wrapper__subheading u-margin-t-300 w-100 w-80-@xxl u-margin-b-600 u-margin-b-900-@lg">I specialize in systems thinking, scalable design strategies and building conversion optimized experiences.</p>

					<div class="c-button-group flex-wrap flex-wrap">
						<a href="mailto:bardiad@gmail.com" class="c-button c-button--primary js-confetti">Get in touch</a>
						<a href="bardia-doust-2025-resume.pdf" download class="c-button c-button--secondary js-confetti">Download my resume (PDF)</a>
					</div>


				</div>
			</div>
			<div class="c-portriat-wrapper w-100 w-50-@lg w-40-@xl">
				<img class="o-fluid-img"
				alt="Stylized illustration of me working at my desk"
				srcset="/img/halftone-desk-portrait.png 1x, /img/halftone-desk-portrait@2x.png 2x"
				src="/img/halftone-desk-portrait.png"/>
			</div>
		</div>		
	</div>
</section>

<section id="projects" class="c-posts u-bg-color-misc-white u-padding-y-1000 u-padding-y-1500-@xl">
	<div class="o-container">
		<h2 class="u-margin-b-900-@xl u-margin-b-600-@xs w-100">Selected works</h2>
		{% for post in data.POSTS %}
			<article class="c-post u-flex u-justify-content-center-@xs gap-200-@xs gap-800-@lg gap-1700-@xxl flex-wrap-@xs flex-nowrap-@lg">
				<div class="c-post__content w-100-@xs w-50-@lg w-40-@xxl">
					<p class="c-post__meta u-color-ash-800 u-margin-t-300-@xs u-margin-t-0-@xl">{{ post.year }}</p>				
					<h3 class="c-post__title subheading-1 u-margin-b-200">{{ post.headline }}</h3>
					<ul class="c-taglist u-margin-b-400">
						{%  for tag in post.tags %}
							<li class="c-taglist__tag">{{ tag }}</li>
						{% endfor %}
					</ul>
					<p class="c-post__description body-copy u-margin-b-600">{{ post.description }}</p>

					{% if post.comingSoon %}
						<p class="u-font-size-300 u-text-italic">Case study coming soon</p>
					{% else %}
						<a href="/case-studies/{{ post.slug }}.html" class="c-button c-button--secondary c-button--small c-button--fw-@xs c-button--ib-@lg">Read case study</a>
					{% endif %}						
				</div>

				{% if post.comingSoon %}
				<div class="c-post__cs-wrapper u-border-color-ash-200 u-block w-100-@xs w-50-@lg w-60-@xxl flex-order-first-@xs flex-order-0-@lg">
					<img src="{{ post.thumbnail }}" alt="thumbnail for {{ post.headinline }}" class="o-fluid-img c-post__thumbnail"/>
					<div class="c-post__thumbnail-overlay"></div>
					<p class="c-post__cs-label">Coming soon</p>
				</div>
				{% else %}
				<a href="/case-studies/{{ post.slug }}.html" class="u-block w-100-@xs w-50-@lg w-60-@xxl c-post__thumbnail-link flex-order-first-@xs flex-order-0-@lg u-border-color-ash-200" style="--thumbHover: {{ post.theme }}">
					<img src="{{ post.thumbnail }}" alt="thumbnail for {{ post.headinline }}" width="850" height="552" class="o-fluid-img c-post__thumbnail"/>
				</a>
				{% endif %}				
			</article>
		{% endfor %}

		{#<article class="c-coming-soon w-100-@xs u-padding-700 u-bg-color-ash-100 u-border-radius-500">
			<h3 class="u-margin-b-200">More projects coming soon</h3>
			<p class="u-margin-b-0 w-80-@lg w-60-@xl">Thanks for your patience while I add more case studies to my portfolio. In the meantime you can check out <a href="/old">my previous portfolio</a> to see my work from 2015-2019.</p> 
		</article> #}
	</div>
</section>
 
<section id="about" class="c-about  u-bg-color-ash-50">
	<div class="o-container u-padding-y-1000 u-padding-y-1500-@xl">

		<div class="u-flex flex-wrap flex-nowrap-@md gap-600 gap-900-@lg u-justify-content-center">
{# 			<figure class="w-100 w-50-@md w-40-@lg">
				<img
				width="320"
				height="321"
				class="o-fluid-img c-portrait"
				srcset="/img/halftone-portrait.png 1x, /img/halftone-portrait@2x.png 2x"
				src="img/halftone-portrait.png"
				alt="Stylized portrait of me (Bardia Doust)" />
		
				<figcaption class="c-portrait-caption">I'm a former graphic designer and front-end developer. I don't really have purple hair though.</figcaption>
			</figure> #}
			<div class="w-100 w-50-@md w-60-@lg">
				<h2 class="u-margin-b-300">Who is that guy Bardia?</h2>
				
				<p class="body-copy body-copy--large u-margin-b-800 u-margin-b-1100-@lg">I graduated from the Ontario College of Art in Design, with a degree in Graphic Design. After finishing my undergrad, I worked as a print designer and front-end developer before moving into full-time into UX design.</p>

				<figure class="u-margin-b-800 u-margin-b-1100-@lg">
					<img
					width="320"
					height="321"
					class="o-fluid-img c-portrait"
					srcset="/img/halftone-portrait.png 1x, /img/halftone-portrait@2x.png 2x"
					src="img/halftone-portrait.png"
					alt="Stylized portrait of me (Bardia Doust)" />
			
					<figcaption class="c-portrait-caption">I'm a former graphic designer and front-end developer. I don't really have purple hair though.</figcaption>
				</figure>

				<p class="body-copy body-copy--large u-margin-b-800 u-margin-b-1100-@lg">Along the way, I’ve mentored aspiring designers through BrainStation’s UX bootcamp, which deepened my love for teaching and team-building.</p>


				<figure class="u-margin-b-800 u-margin-b-1100-@lg">
					<img
					width="740"
					height="555"
					class="o-fluid-img u-border-radius-400"
					srcset="/img/mybooks.jpg 1x, /img/mybooks@2x.jpg 2x"
					src="/img/mybooks.jpg"
					alt="My humble book collection" />
			
					<figcaption>Favourite books from my humble collection</figcaption>
				</figure>	

				<p class="body-copy body-copy--large u-margin-b-800 u-margin-b-1100-@lg">In 2021 I moved to beautiful Kingston, Ontario, where I split my time between design work, creative projects, and wandering through bookstores promising myself I won't buy anything.</p>				

				<p class="body-copy body-copy--large u-margin-b-800 u-margin-b-1100-@lg">Outside of work, I spend time playing guitar, bass, and drums, or out with my camera chasing texture and light. </p>

				<figure class="u-margin-b-800 u-margin-b-1100-@lg">
					<img
					width="740"
					height="555"
					class="u-img-max-width u-border-radius-400"
					srcset="/img/myband.jpg 1x, /img/myband@2x.jpg 2x"
					src="/img/mybooks.jpg"
					alt="Me performing with one of my bands in 2018" />
			
					<figcaption>2017, Performing with one of the bands I played in at The 460 in Toronto</figcaption>
				</figure>

				<p class="body-copy body-copy--large u-margin-b-600">I love nerding out over typography, retro video games and Douglas Adams books. If you're curious about working together or just want to connect, feel free to reach out. <span class="c-para-end" aria-hidden="true"></span></p>

				<div class="c-button-group flex-wrap flex-wrap">
					<a href="mailto:bardiad@gmail.com" class="c-button c-button--primary js-confetti">Get in touch</a>
				</div>	
			</div>
		</div>


	</div>	
</section>

{{ components.backToTop() }}
{% endblock %}

