---
PAGE:
 title: Building a scalable design strategy for Questrade | thatguybardia
 description: Learn about how I developed a scalable content and design strategy for Questrade.com
 layout: layout.landing.njk
---
{% extends "layouts/" + PAGE.layout %}

{% block body %}
{{ super()}}
<section class="u-bg-color-ash-100 u-padding-y-600-@xs u-padding-b-0-@xs u-padding-y-900-@xl u-flex u-justify-content-center">
<p>Case study</p>
</section>
{% endblock %}

